Meanings .Definition-result {
  font-size: 18px;
  line-height: 1.5;
  text-transform: capitalize;
}

Meanings .Meaning-example {
  font-size: 18px;
  line-height: 1.5;
  text-transform: capitalize;
}
